streamlit
flask
fastapi
opencv-python-headless
tensorflow==2.20.0
langchain
langchain-openai
langchain-community
langchain-ollama
langgraph
openai
ollama
faiss-cpu
pandas
numpy
scikit-learn
joblib
python-dotenv
requests
pillow
uvicorn